@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@layer reset, primeng;

@layer reset {
  .p-fluid .p-field {
    margin-bottom: 1em;
  }
  
  .p-error {
    color: #f44336;
    font-weight: bold;
  }
  
  h2 {
    margin-bottom: 1em;
  }
  
  /* Stili specifici per i bottoni */
  .p-button {
    margin-right: 0.5em;
    margin-bottom: 0em;
    margin-left: 0.5em; 
  }
  .margini{
    display: grid;
    gap: 0.5em;
  }
}

/* Stili specifici per rendere il layout responsive */
@layer primeng {
  /* Stili per form-veicoli */
  .form-veicoli {
    .p-card {
      padding: 1em;
    }
    .p-field {
      display: flex;
      flex-direction: column;
    }
    @media (max-width: 768px) {
      //spazio tra i button del form "salva e reset"
       .margini{
        display: grid;
        gap: 0.5em;
      }
      
    }
  }

  /* Stili per lista-veicoli */
  .lista-veicoli {
    p-table {
      width: 100%;
      thead th {
        text-align: left;
      }
    }
    @media (max-width: 768px) {
      
      p-table {
        thead {
          display: none;
        }
        tbody,
        tr,
        td {
          display: block;
          width: 100%;
        }
        tr {
          margin-bottom: 1em;
        }
        td {
          text-align: right;
          padding-left: 50%;
          position: relative;
        }
        td:before {
          content: attr(data-label);
          position: absolute;
          left: 0;
          width: 50%;
          padding-left: 15px;
          font-weight: bold;
          text-align: left;
        }
      }
      //determina la spazio tra i button
       .spaziatura{
        display: grid !important;
         gap: 1em !important;
       }
       //provato a spestare centralmente il titolo lista-veicoli, ma non funziona
       .lista-veicoli h2 {
        text-align: center !important;
        margin-top: 20px !important;
      } 
    }
    @media screen and (min-width: 810px) and (max-width: 1080px) {
      .spaziatura{
        display: grid !important;
         gap: 1em !important;
       }
    }
  }

   /* Stili per dashboard-trasportatori */
   .dashboard-trasportatori {
    .p-tabView {
      .p-tabPanel {
        padding: 1em;
      }
    }

    @media (max-width: 768px) {
      .p-tabView {
        .p-tabPanel {
          padding: 0.5em;
        }
      }
      .p-card {
        .p-calendar,
        .p-dropdown {
          width: 100%;
          margin-top: 0.5em;
        }
        .p-button {
          width: calc(100% - 1em); /* Lascia spazio per l'allineamento */
          margin-top: 0.5em;
          margin-left: 0; /* Rimuove il margine sinistro aggiunto globalmente */
        }
      }
     }

    /* Stili per schermi tra 810px e 1080px per dashboard-trasportatori-button */
    @media screen and (min-width: 810px) and (max-width: 1080px) {
      .spaziatura {
         display: flex;
         flex-wrap: nowrap;
       }
      // .spaziatura .pulsante-alignDue {
      //   width: auto !important; /* Lascia che il pulsante si adatti al contenuto */
      //   padding: 0.25em 0.5em !important; /* Riduce le dimensioni del pulsante */
      //   font-size: 0.275em !important; /* Riduce la dimensione del font */
      //   margin-right: 1em !important;
       
      // }
      //modifica della larghezza e altezza del button avvia manutenzione
      .p-button{
        width: 86%;
         height: 71%;
      }
    }

    .pulsante-align {
      @media (max-width: 768px) {
        margin-right: 1em;
      }
    }
  }

  @media (max-width: 768px) {
    //modifiche al h1 del componente gestione veicoli
    .titolo {
      text-align: center;
      margin-top: 45px;
    }
  }
}

