<!-- form-veicoli.component.html -->
<div *ngIf="vehicle" class="form-veicoli">
  <div class="p-card" header="Gestione Veicolo">
    <form (ngSubmit)="saveVehicle()" class="p-fluid">
      <div class="p-field">
        <label for="tipo">Tipo:</label>
        <input id="tipo" pInputText [(ngModel)]="vehicle.tipo" name="tipo" required>
      </div>
      <div class="p-field">
        <label for="capacita">Capacità:</label>
        <input id="capacita" type="number" pInputText [(ngModel)]="vehicle.capacita" name="capacita" required>
      </div>
      <div class="p-field">
        <label for="stato">Stato:</label>
        <p-dropdown 
          id="stato" 
          [(ngModel)]="vehicle.stato" 
          name="stato" 
          [options]="stati" 
          optionLabel="label" 
          optionValue="value" 
          required>
        </p-dropdown>
      </div>
      <div class="p-field">
        <label for="descrizioneManutenzione">Descrizione Manutenzione:</label>
        <input id="descrizioneManutenzione" pInputText [(ngModel)]="vehicle.descrizioneManutenzione" name="descrizioneManutenzione">
      </div>
      <div class="p-field margini">
        <button type="submit" pButton label="{{ vehicle.id ? 'Modifica' : 'Salva' }}"></button>
        <button type="button" pButton label="Reset" class="p-button-secondary" (click)="resetForm()"></button>
      </div>
    </form>
    <div *ngIf="errorMessage" class="p-error">{{ errorMessage }}</div>
  </div>
</div>
<div *ngIf="!vehicle">
  <button pButton label="Crea nuovo veicolo" (click)="resetForm()"></button>
</div>
